<h1 id="tableLabel">Analytics Table</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!dataSets"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<div class="dataset-selector">
  <label for="dataSetSelect">Select Data Set:</label>
  <select id="dataSetSelect" [(ngModel)]="selectedDataSet" (change)="onDataSetChange()">
    <option *ngFor="let dataSet of dataSets" [value]="dataSet">{{ dataSet.displayName }}</option>
  </select>
</div>

<div class="grouping-selector">
  <label for="groupingSelect">Select Grouping:</label>
  <select id="groupingSelect" [(ngModel)]="selectedGrouping" (change)="onGroupingChange()">
    <option *ngFor="let grouping of groupings" [value]="grouping">{{ grouping.displayName }}</option>
  </select> 
</div>

Analytics:
<table *ngIf="analytics">
  <thead>
    <tr>
      <th>ID</th>
      <th>DisplayName</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let analytic of analytics">
      <td>{{ analytic.id }}</td>
      <td>{{ analytic.displayName }}</td>
    </tr>
  </tbody>
</table>

Node Names for grouping=SECURITY:
<table *ngIf="groupingNodes">
  <thead>
    <tr>
      <th>ID</th>
      <th>DisplayName</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let groupingNode of groupingNodes">
      <td>{{ groupingNode.id }}</td>
      <td>{{ groupingNode.displayName }}</td>
    </tr>
  </tbody>
</table>

Calculation results for Analytic=A1, DataSet=0, grouping=SECURITY:
<table *ngIf="calculatedAnalytics">
  <thead>
    <tr>
      <th>ID</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let calculatedAnalytic of calculatedAnalytics">
      <td>{{ calculatedAnalytic.id }}</td>
      <td>{{ calculatedAnalytic.result }}</td>
    </tr>
  </tbody>
</table>
