<h1 id="tableLabel">Analytics Table</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!dataSets"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<div class="dataset-selector">
  <label for="dataSetSelect">Select Data Set:</label>
  <select id="dataSetSelect" (change)="onDataSetChange($any($event.target).value)">
    <option *ngFor="let dataSet of dataSets" [value]="dataSet.id">{{ dataSet.displayName }}</option>
  </select>
</div>

<div class="grouping-selector">
  <label for="groupingSelect">Select Grouping:</label>
  <select id="groupingSelect" (change)="onGroupingChange($any($event.target).value)">
    <option *ngFor="let grouping of groupings" [value]="grouping.id">{{ grouping.displayName }}</option>
  </select> 
</div>

<div class="analytics-checkbox-select-container">
  <label for="analyticsCheckboxSelect">Select Analytics (atleast one):</label>
  <div class="checkbox-select">
    <label *ngFor="let analytic of analytics">
      <input type="checkbox" [id]="analytic.id" [checked]="isAnalyticSelected(analytic)" (change)="onAnalyticsCheckboxSelectChange(analytic)" />
      {{ analytic.displayName }}
    </label>
  </div>
</div>

Node Names for grouping=SECURITY:
<table *ngIf="groupingNodes">
  <thead>
    <tr>
      <th>ID</th>
      <th>DisplayName</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let groupingNode of groupingNodes">
      <td>{{ groupingNode.id }}</td>
      <td>{{ groupingNode.displayName }}</td>
    </tr>
  </tbody>
</table>

Calculation results for Analytic=A1, DataSet=0, grouping=SECURITY:
<table *ngIf="calculatedAnalytics">
  <thead>
    <tr>
      <th>ID</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let calculatedAnalytic of calculatedAnalytics">
      <td>{{ calculatedAnalytic.id }}</td>
      <td>{{ calculatedAnalytic.result }}</td>
    </tr>
  </tbody>
</table>
